/* .App {
  text-align: center;
} */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #54acc2;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001529;
    padding: 0 20px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .select {
    width: 200px;
  }
  
  .content {
    padding: 24px;
    background-color: #84c4a3;
    min-height: calc(100vh - 134px);
    margin: 24px 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .footer {
    text-align: center;
    background-color: #001529;
    color: #001529;
    padding: 20px 50px;
  }
  
  